#divBusca{
    position: relative;
    float: left;
    background-color: white;
    border-radius: 18px;
    border: solid 1px;
    width: 300px;
    margin-left: 60%;
}
#txtBusca{
    background-color: white;
    padding-left: 18px;
    font-style: italic;
    font-size: 15px;
    border: none;
    height: 15px;
    width: 260px;
}
#lado{
    position: relative;
    float: left;
    width: auto;
    height: auto;
    left: 45px;
}
#compra{
    margin-left: 90%;

}

.cabecalho{
    background-image: url(../img1/fundao.jpeg);
    background-attachment: fixed; /*a imagem fica fixa a pagina rola*/
    background-repeat: no-repeat;
    background-size: cover; /*a imagem vai cobrir toda a area do bloco*/
    height: 450px;

}
h3{
   
    font-family: italic; 
 
}

.navbar-nav{

    color:white;
    font-family: italic;
}
.navbar-inverse>.container>.nav>li>a{
    color:white;
   
}


.navbar-inverse{

     background-color:rgba(100,100,100,0.2);
     border-color: rgba(100,100,100,0.2);
}


/*#itens ul li{
    font-size: 15px;
    display: inline-block;
    
    
} */ 
#itens ul li  a { 
   color: white;
   padding: 12px;
   font-size: 14px;
   border: 2px transparent solid;
   /*margin-top: 20px;*/
   
  
  
   
   
}
.navbar-nav{
    display: inline;
    padding-left: 150px;
    
   
  
    
}

.bg-footer{
    background-color: rgb(21, 14, 85);
    color: white;
}
.container{
    text-align: center;
}
.fa-user-circle{
    display: inline;
   
    
}
.fa-home{
    display: inline;
   
}

.fa-facebook{
    color: rgb(73, 120, 248);
   
}
#cama{
    margin-top: 100px;
}
.container{
    margin-bottom: 50px;
}
.fa-instagram{
    color:rgb(134, 35, 35);
}
.fa-whatsapp{


    color:green;
}
/*.rodape{
    padding:20px;
     background-color: black; 
    justify-content: center;   
    width: 100%;
     color: #fff; 
    text-align: center;
}*/

